@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html { 
  overflow-x:hidden;
}

html, body {
  width: 100%;
  height: 100%;
  margin:0;
}


body {
  font-family: 'Montserrat', sans-serif!important;
  position: absolute;
  background-image: url(../img/waves.png);
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100%; 
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-size-adjust: 100%;
  opacity: 1;
  transition: 1s opacity;
  z-index:-2;
  color: #ffffff!important;
  /*-webkit-animation: slide 30s linear infinite;*/
}

p {
  font-size: 14px!important;
}


@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -762px 0; }
}

.site {
  background: linear-gradient(182deg, rgba(0,68,77,1) 0%, rgba(0,68,64,0) 46%, rgba(0,68,48,1) 100%);
  
}




h4 {
  font-weight: 700!important;
}

.btn {
  border-radius: .75em!important;
  font-weight: 500!important;
}

.text-muted2 {
    color: #9a9dbb!important;
}

form {
  display: block;
  padding: 0px 0;
  position: relative;
  z-index: 1;
  margin-top: .4em;

} 
  
.buy, .sell {
  margin: auto;
}

.about {
  padding:1em 3em 1em 3em;
  } 

  @media (max-width: 992px) {
.about {
  padding:0em 3em 2em 3em;
  } 
} 

input:hover{
      background-color: fade(white, 40%);
    }
    

input:focus{
      background-color: rgba(255,255,255,.35);
      color: #ffffff;
      box-shadow: 0 13px 20px -15px #0083a4;
    }


input {
  appearance: none;
  outline: 0;
  background: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.75);
  border-radius: .5em;
  padding: 0 1em;
  margin: 0 auto 1em auto!important;
  display: block;
  text-align: left;
  font-size: 1em!important;
  line-height: 3em!important;
  transition-duration: 0.25s;
  font-weight: 400;
  color: #ffffff;
  z-index:5;
  box-shadow: 0 14px 14px -10px #002d1f;
  width: 100%;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card {
  border: 1px solid rgba(255,255,255,.45) !important;
  border-radius: .5rem!important;
  transition: all 0.2s!important;
  background-color: rgba(255,255,255,0)!important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px)
  
}

.card-body {
  padding:2.5em 4em 3.5em 4em!important;
}

.feature .card-body {
  padding:1.5em 4em 3.5em 4em!important;
}

.stats .card-body {
  padding:1.5em 2em 2em 2em!important;
}

.stats h2 {
  margin-bottom: 0; 
  font-weight: 700; 
  color: #0083a4;
  font-size: 2.5em;
}

@media (max-width: 992px) {
.card-body {
  padding:1em 2em 2em 2em!important;
}
}

hr {
  margin: 1.5rem 0;
  border-top: 1px solid rgba(255,255,255,.35)!important;
}

.exchange .fa-ul {
  margin: 0;
}



.exchange ul li {
  margin-bottom: 0rem;
}

.exchange .btn {
  font-size: 1em;
  border-radius: .5rem!important;
  color: #ffffff;
  font-weight: 300;
  padding: 1rem;
  transition: all 0.2s;
  background: rgba(255,255,255,.15);
  border: 1px solid rgba(255,255,255,.75);
  box-shadow: 0 14px 14px -15px #002d1f;
  width: 100%;
  margin: auto;
  text-shadow: 0 1px 2px #017292!important;
}

.exchange .btn2 {
  font-size: 1em;
  border-radius: 0 .5rem .5rem 0!important;
  font-weight: 500;
  padding: .75rem;
  transition: all 0.2s;
  background: rgb(119,248,252);
background: linear-gradient(182deg, rgba(119,248,252,1) 0%, rgba(19,149,185,1) 100%);
  border: 1px solid #1dcdfe!important;
  width: 100%;
  margin: auto;
  color: #fff;
  text-shadow: 0 1px 2px #017292!important;
}

@media (max-width: 992px) {
.feature .card-body {
  padding:2em 2em 2em 2em!important;
}
}

.btn:hover {
    background: rgb(119,248,252);
background: linear-gradient(182deg, rgba(119,248,252,1) 0%, rgba(28,207,110,1) 100%);

    border: 1px solid #0083a4!important;
    box-shadow: 0 13px 20px -10px #002d1f!important;
    color: #ffffff!important;
  }

  .btn2:hover {
    background: rgb(119,248,252);
background: linear-gradient(182deg, rgba(119,248,252,1) 0%, rgba(28,207,110,1) 100%);

    border: 1px solid #0083a4!important;
    box-shadow: 0 13px 20px -10px #002d1f!important;
  }

.btn:focus {
  outline: 0!important;
  box-shadow: 0 14px 14px -15px #002d1f!important;
}

.btn:active {
   outline: none!important;
    transform: perspective(10px) scale3d(1, 1, 1) translateY(2%) !important;
    box-shadow: 0 14px 14px -15px #002d1f;
}

.btn2:focus, .btn2:active {
  outline: none!important;
}

.effect1{
     box-shadow: 0 22px 37px -19px #122d25;
}

.footerlink {
  color: #76b6ff;
  font-weight: 700;
}

.footerlink:hover {
  color: #4d98ed;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
  color: #80dff9;
}

.topnav .card-body {
  padding:1em 0!important;
}

.topnav .btn {
  font-size: 1em;
  border-radius: .5em!important;
  letter-spacing:.05rem;
  font-weight: 300;
  padding: 1rem;
  transition: all 0.2s;
  background: rgb(119,248,252);
background: linear-gradient(182deg, rgba(119,248,252,1) 0%, rgba(19,149,185,1) 100%);
border: 1px solid #1dcdfe!important;
box-shadow: 0 14px 14px -15px #002d1f;
  width: 10em;
  margin: auto;
  color: #fff;
  text-shadow: 0 1px 2px #017292!important;
}

.topnav .btn:hover {
  background: rgb(119,248,252);
  background: linear-gradient(182deg, rgba(119,248,252,1) 0%, rgba(28,207,110,1) 100%);
box-shadow: 0 17px 19px -15px #002d1f!important;
border: 1px solid #1dcdfe!important;
color: #fff!important;
}

@media (max-width: 992px) {
.navbar-collapse .btn {
margin-bottom:1em;
}
}


.nav-link {
  padding:1em 2em 0em 2em!important;
}

a.nav-link {
  color: #ffffff!important;
}

a.nav-link:hover {
  color: #80dff9!important;
}

#nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: .3em auto 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.navbar-light, .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border-color: rgba(0,0,0,0)!important;
}

.modal .btn {
  font-size: 1em;
  border-radius: 1rem!important;
  letter-spacing:.05rem;
  font-weight: 300;
  padding: 1rem;
  transition: all 0.2s;
  background: #0083a4!important;
  border: none!important;
  box-shadow: 0 14px 14px -15px #0083a4;
  width: 100%;
  margin: auto;
}

.modal-header {
    border-bottom: none!important;
    border-top-left-radius: 1em!important;
    border-top-right-radius: 1em!important;
    padding: 0!important;
    z-index:1000;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none!important;
    border-bottom-right-radius: 1em!important;
    border-bottom-left-radius: 1em!important;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none!important;
    border-radius: 1em!important;
    outline: 0;
    padding:1em 3em 3em 3em;
    box-shadow: 0 22px 37px -19px #27b68a;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
    z-index:90;
}

@media (max-width: 992px) {
  .modal-content {
    padding:1em 2em 2em 2em;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
      max-width: 600px!important;
  }
}

.modal-body {
    padding: 0rem!important;
}

.modal{
    z-index: 9000!important;
}

.modal-header .close {
    padding: 0em 0em 0rem 0rem!important;
    margin: -.5rem -1rem -2rem auto!important;
}

@media (max-width: 992px) {
.modal-header .close {
    padding: 0em 0em 0rem 0rem!important;
    margin: -.5rem -.5rem -2rem auto!important;
}
}

.close, .close:focus, .close:active {
  outline: none!important;
  border: none!important;
}

.modal-backdrop {
  background: linear-gradient(195deg, rgba(143,221,236,.79) 0%, rgba(148,236,143,.79) 100%);
  opacity:.8!important;
}

.input-group .form, .input-group-btn .btn { z-index: 1!important; }


#faq {
  overflow: hidden;
}

#faq a {
  color: #2c3444;
  transition: 0.5s;
  font-weight: 900;
}

#faq h3 {
  color: #2c3444;
}

#faq #faq-list {
  padding: 0px;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#faq #faq-list a {
  padding: 1em 0;
  display: block;
  position: relative;
  font-size: 1.1em;
  line-height: 1;
  font-weight: 400;
}

#faq #faq-list a:hover {
    color: #ffffff!important;
}

#faq #faq-list a:visited {
    color: #ffffff!important;
    font-weight: 500!important;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 18px;
  }
  #faq #faq-list i {
    top: 13px;
  }
}

#faq #faq-list a.collapse {
  color: #2c3444;
}

#faq #faq-list a.collapsed {
  color: #2c3444;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

body.moving {
  cursor: move;
}
